h4 {
    color: white;
    background-color: DARKORANGE;
    padding: 0.3em;
}
h3 {
    color: white;
    background-color: MEDIUMSEAGREEN;
    padding: 0.5em;
}
h2 {
    color: white;
    background-color: teal;
    padding: 0.6em;
}

h1 {
    color: white;
    background-color: black;
    padding: 0.7em;
}
